# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Compilación / salida
dist/
build/
out/
coverage/
*.tsbuildinfo

# Variables de entorno
.env
.env.*     # cualquier .env.local, .env.test, etc.

# Logs
logs/
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# VSCode
.vscode/
.history/
*.code-workspace

# Archivos temporales
*.tmp
*.swp
*.swo
